    <!-- <div classs="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-items-center d-flex">
            <i class="fa fa-shipping-fast"></i>
            <strong>Shopping-cart</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search product">
            </div>
            <span class="fas fa-search search-icon"></span>
            <div class="butt">
                
                <button (click)="onSubmitHome($event)">Home</button>
                <button (click)="onSubmitCart($event)">Cart</button>
                <button (click)="onSubmitProduct($event)">Product</button>
                <button (click)="onSubmitLogin($event)">Login</button>
            </div>

            <button class="btn btn-primary">
                <i style="font-size:30px;" class="fas fa-cart-plus" (click)="backTocart()"></i>
            </button>
        </div>
    </div> -->
<header >
    <div class="headerDiv">
        <div class="togethr">
            <div>
                <img src="assets\images\Vector.png">
            </div>
            <span>
                <h4>Logoipsum</h4>
            </span>
        </div>
        <div>
            <button class="submit-home"  (click)="onSubmitHome($event)">Home</button>   
        </div>
    </div>
</header>