<div class="container">
   <h1>Sign in as</h1>
   <div class="row-in-item">
      <div>
         <div>
            <button class="fa fa-admin" (click)="onAdmin($event)"><i class="fa fa-user-circle"
                  aria-hidden="true"></i>admin</button>
         </div>
         <br>
         <div>
            <button class="fa fa-User" (click)="onUser($event)"><i class="fa fa-user"
                  aria-hidden="true"></i>User</button>
         </div>
      </div>
      <div>
         <img src="assets\images\Vector 176 (2).png" width="452" height="535" priority>
      </div>
   </div>
</div>